<div class ="brand">Anduin</div>
<div class="address-bar">for all your Middle Earth needs</div>


   <div class="container">

       <div class="row">
           <div class="box">
               <div class="col-lg-12 text-center">
                   <div id="carousel-example-generic" class="carousel slide">
                       <!-- Indicators -->
                       <ol class="carousel-indicators hidden-xs">
                           <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                           <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                           <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                           <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                           <li data-target="#carousel-example-generic" data-slide-to="4"></li>

                       </ol>

                       <!-- Wrapper for slides -->
                       <div class="carousel-inner">
                           <div class="item active">
                               <a href="/elven%20ware"><img class="img-responsive img-full carousel-img" src= "http://i.imgur.com/1R7nwna.jpg"></a>
                           </div>
                           <div class="item">
                               <a href="/home%20and%hearth"><img class="img-responsive img-full carousel-img" src="http://i.imgur.com/2O6vvaw.jpg"></a>
                           </div>
                           <div class="item">
                               <a href="/journeying%20and%20war"><img class="img-responsive img-full carousel-img" src="http://i.imgur.com/AVIGDE8.jpg"></a>
                           </div>
                           <div class="item">
                               <a href="/pure%20evil"><img class="img-responsive img-full carousel-img" src="http://i.imgur.com/yh0ZUMU.jpg"></a>
                           </div>
                           <div class="item">
                               <a href="/sauron's%20hottest%20deals"><img class="img-responsive img-full carousel-img" src="http://i.imgur.com/BmEvxOX.jpg"></a>
                           </div>
                       </div>

                       <!-- Controls -->
                       <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                           <span class="icon-prev"></span>
                       </a>
                       <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                           <span class="icon-next"></span>
                       </a>
                   </div>

               </div>
           </div>
       </div>

       <div class="row">
           <div class="box">
               <div class="col-lg-12">
                   <hr>
                   <h2 class="intro-text text-center">About</h2>
                   <hr>
                   <p>Whether you're about to defeat Smaug or you need a pipe for your hobbit hole, Anduin is the one-stop shop for you. Sign up for Anduin Eagle for quick, easy one day delivery via our patented Giant Eagles!*</p>
                   <br>
                   <p>*delivery not available to Mordor</p>
               </div>
           </div>
       </div>

   </div>
   <!-- /.container -->

   <!-- Script to Activate the Carousel -->
   <script>
   $('.carousel').carousel({
       interval: 5000 //changes the speed
   })
   </script>
